*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.border{
    /* border: 5px solid greenyellow; */
}
.app{
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bar{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.253);
    width: 100%;
    max-width: 500px;
    border-radius: 30px;
    overflow: hidden;
    
}
.progress{
    /* border-radius: 30px; */
    height: 100%;
    width: 100%;
    background: linear-gradient(30deg,red, green, blue);
    transition: 3s ease-in-out;
}

.counter{
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
input{
    padding: 10px;
    font-weight: bolder;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}